@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
@import url('styles/header.css');
@import url('styles/sidebar.css');
@import url('styles/heroSection.css');
@import url('styles/contentSection.css');
@import url('styles/coreSection.css');
@import url('styles/footer.css');
@import url('styles/mediaQueries.css');

@font-face {
  font-family: "Cera Pro";
  src: url("./assets/fonts/CeraPro-Regular.ttf") format('opentype');
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: #000000;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bai Jamjuree', sans-serif;
}


.general_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.main_wrapper {
  padding: 0 40px 0 120px;
  width: 100%;
  max-width: 1261px;
}

.content_wrapper {
  /* background-image: url("./assets/img/1920_background.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  /* position: relative; */
  /* overflow: hidden; */
}

/* .content_wrapper .background { */
  /* width: 100%; */
  /* max-width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; */
/* } */

 @media (max-width: 1681px) {
  .main_wrapper {
    padding: 0 40px 0 114px;
    max-width: 1107px;
  }
    /* .content_wrapper {
        background-image: url("./assets/img/1680_background.png");
    } */
}

@media (max-width: 1367px) {
    /* .content_wrapper {
        background-image: url("./assets/img/1366_background.png");
    } */
    .main_wrapper {
      padding: 0 32px 0 52px;
      max-width: 916px;
    }
}

@media (max-width: 1025px) {
    /* .content_wrapper {
        background-image: url("./assets/img/1024_background.png");
    } */
}

@media (max-width: 769px) {
    /* .content_wrapper {
        background-image: url("./assets/img/768_background.png");
    } */
}

@media (max-width: 480px) {
    /* .content_wrapper {
        background-image: url("./assets/img/mobile_background.png");
    } */
}

