.hero_section {
  margin-top: 72px;
  margin-bottom: 56px;
}

.hero_section h1 {
  font-weight: 500;
  font-size: 104px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FFFFFA;
}

.hero_section_title-right {
  margin-left: 135px;
}

.hero_section_text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
}


.hero_section_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background: linear-gradient(172deg, #06C412 14.08%, #CBFF01 47.44%, #EC6D33 76.2%, #CA3D2D 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-clip: text;*/
  /*text-fill-color: transparent;*/
}

.hero_section_text-mobile {
  display: none;
}

.break_line {
  display: block;
}